*.iml
*.git
.gradle
/gradle
/.idea/
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/core/build
/core.iml
/captures
/desktop/desktop.iml
/desktop/build
.externalNativeBuild
gradlew*
projectFilesBackup/
app/.cxx/*
app/.cxx/
